In [36]:
from bs4 import BeautifulSoup
import urllib2
import csv
from pymongo import MongoClient
from pprint import pprint
import urllib
import pandas as pd
import json

df = pd.read_csv('imdb.csv')
df = df.drop_duplicates(subset='Name')

df.head(5)

,Name,Year of release,Rating,Genre,imdb Url,votes
0,Polar,(2019),6.3,"\nAction, Crime",http://www.imdb.com/title/tt4139588/?ref_=adv_...,"28,030"
1,The Punisher,(2017– ),8.6,"\nAction, Adventure, Crime",http://www.imdb.com/title/tt5675620/?ref_=adv_...,"132,557"
2,Game of Thrones,(2011– ),9.5,"\nAction, Adventure, Drama",http://www.imdb.com/title/tt0944947/?ref_=adv_...,"1,406,544"
3,Aquaman,(2018),7.4,"\nAction, Adventure, Fantasy",http://www.imdb.com/title/tt1477834/?ref_=adv_...,"157,477"
4,Vikings,(2013– ),8.6,"\nAction, Adventure, Drama",http://www.imdb.com/title/tt2306299/?ref_=adv_...,"323,777"

In [28]:
movieid = []
for i in range(1,194):
    movieid.append(i)
df['MovieID'] = movieid
df['Adventure']=0
df['Drama']=0
df['Comedy']=0
df['Animation']=0
df['Sci-fi']=0
df['Thriller']=0
df['Action']=0
df['Mystery']=0
for i,r in df.iterrows():
    if (r['Genre'].find('Action')!=-1):
        df.set_value(i,'Action',1)
    else:
        df.set_value(i,'Action',0)
        
    if (r['Genre'].find('Adventure')!=-1):
        df.set_value(i,'Adventure',1)
    else:
        df.set_value(i,'Adventure',0)
        
    if (r['Genre'].find('Drama')!=-1):
        df.set_value(i,'Drama',1)
    else:
        df.set_value(i,'Drama',0)
        
    if (r['Genre'].find('Comedy')!=-1):
        df.set_value(i,'Comedy',1)
    else:
        df.set_value(i,'Comedy',0)
        
    if (r['Genre'].find('Animation')!=-1):
        df.set_value(i,'Animation',1)
    else:
        df.set_value(i,'Animation',0)
        
    if (r['Genre'].find('Sci-fi')!=-1):
        df.set_value(i,'Sci-fi',1)
    else:
        df.set_value(i,'Sci-fi',0)
    
    if (r['Genre'].find('Thriller')!=-1):
        df.set_value(i,'Thriller',1)
    else:
        df.set_value(i,'Thriller',0)
        
    if (r['Genre'].find('Mystery')!=-1):
        df.set_value(i,'Mystery',1)
    else:
        df.set_value(i,'Mystery',0)

/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:15: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  from ipykernel import kernelapp as app
/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:22: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:27: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:32: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:37: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:42: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:47: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:52: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:20: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:25: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:45: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:35: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:30: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:17: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:50: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [39]:
df['Name'].nunique()
df.shape

(193, 6)

(193, 6)

In [3]:
client = MongoClient(port=27017)
db=client.movie
collection = db.moviedata
collection.drop
collection.insert_many(df.to_dict('records'))
collection.count_documents({})

193

In [11]:
cols = ['UserID','MovieID','Rated']
df2 = pd.DataFrame(columns = cols)

In [12]:
import numpy as np
from random import randint
for i in range(1,1000):
    userid = i
    for k in range(0,52):
        df2 = df2.append({'UserID': userid, 'MovieID': randint(0,192)+1, 'Rated': randint(0,4)+1}, ignore_index=True)
        k=k+1
    i = i+1

In [13]:
df2.shape

(51948, 3)

In [32]:
df2.tail(5)

      UserID MovieID Rated
51942    999     164     4
51944    999      87     5
51945    999      88     2
51946    999      16     1
51947    999     187     2

In [31]:
maxes = df2.groupby(['UserID', 'MovieID']).Rated.transform(max)
df2 = df2.loc[df2.Rated == maxes]
df2.to_csv('User_rating.csv',index=False)
#make sure no user has rated same movie twice

In [191]:
df2.shape

(46759, 3)

In [26]:
movie_data = pd.merge(df, df2, on='MovieID')

In [27]:
movie_data.to_csv("moviedata.csv")